* {
  margin: 0;
  padding: 0;
}

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175,216,248);
  display: inline-block;
}

.node-end {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0,0,66,0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 184, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0,217,159,0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0,198,218,0.75);
  }
}

.node-wall {
  /* background-color: darkgrey; */
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;

}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rbg(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(17, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.node-path {
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 186);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 186);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 186);
  }
}
