* {
  margin: 0;
  padding: 0;
}

header {
	position: sticky;
	top: 0;
	height: 60px;
	background: rgb(0,198,218);
	z-index: 15;
	border-bottom: 2px solid rgba(81, 182, 225, .5);
	-webkit-background-clip: padding-box; 
  	background-clip: padding-box;
}

.grid {
  margin: 100px 0px 0px;
}

nav {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	width: 100%;
	height: 60px;
}

nav.title>h1 {
	color: #FEFFFF;
  	font-size: 36px;
	font-weight: bold;
  	margin: 7px 0px 0px 20px;
  	float: left;
}

nav.buttons>button {
	margin: 10px 30px 0px 0px;
	float: right;
}

button {
	display: inline-block;
	background-color: rgb(12, 53, 71);
	color: #FEFFFF;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	height: 40px;
	transition: 0.3s;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	text-decoration: none;
}

button:hover {
	cursor: grab;
	background-color: rgba(12, 53, 71, 0.8);
}
